<div class="page-header">
  <h1>我的購物車</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>產品</th>
      <th>單價</th>
      <th>數量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, item.product %></td>
        <td><%= item.product.price %></td>
        <td>
          <%= form_for item, html: {class: 'form-inline', role: :form} do |f| %>
            <div class="input-group">
              <%= f.number_field :volume, class: 'form-control', min: 1 %>
              <span class="input-group-btn">
                <%= f.submit '更新', class: 'btn btn-default' %>
              </span>
            </div>
          <% end %>
        </td>
        <td><%= item.subtotal %></td>
        <td><%= link_to icon_tag('trash'), line_item_path(item), method: :delete, title: '從購物車刪除', class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td colspan="2">總計：<%= @cart.total %></td>
    </tr>
  </tbody>
</table>
<hr>
<%= link_to '清空', cart_path, method: :delete, data: {confirm: '確定？'}, class: 'btn btn-danger' %>