<%= debug params %>
<h1>Listing products</h1>

<%= render 'table', products: @products %>

<ul class="pagination">
  <li><%= link_to '«', products_path(p: 1) %></li>
  <% @max_page.times.each do |page| %>
    <%= page_li page + 1 %>
  <% end %>
  <li><%= link_to '»', products_path(p: @max_page) %></li>
</ul>

<br>

<%= link_to 'New Product', new_product_path %>
