%p#notice= notice

%h1.text-center
  = @product.name

%br/

.row.text-center
  .col-md-4
    .panel.panel-default
      .panel-heading
        = "Description"
      .panel-body
        = @product.description
  .col-md-4
    .panel.panel-default
      .panel-heading
        = "Price"
      .panel-body
        = @product.price
  .col-md-4
    .panel.panel-default
      .panel-heading
        = "Quantity"
      .panel-body
        = @product.quantity
  .col-md-12
    = link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary'
    = link_to 'Back', products_path, class: 'btn btn-link'
