<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>
<%= form_tag line_items_path do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= number_field_tag :volume %>
  <%= submit_tag '加入購物車' %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
