<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_dropdown '產品', '#' do %>
            <%= nav_li '列表', products_path %>
            <%= nav_li '新增', new_product_path %>
        <% end %>
        <%= nav_dropdown '分類', '#' do %>
            <%= nav_li '列表', categories_path %>
            <%= nav_li '新增', new_category_path %>
        <% end %>
        <%= nav_li '關於', about_path %>
        <%= nav_li '聯絡', contact_path %>
      </ul>
      <%= form_tag products_path, method: :get, class: 'navbar-form navbar-left', role: :search do %>
        <div class="form-group">
          <%= number_field_tag :min, params[:min], class: 'form-control', placeholder: 'Min' %>
          <%= number_field_tag :max, params[:max], class: 'form-control', placeholder: 'Max' %>
          <select name="order" class="form-control">
            <option value="">Select Order</option>
            <%= options_for_select %i[price volume], params[:order] %>
          </select>
        </div>
        <div class="checkbox"><label><%= check_box_tag :desc, nil, params[:desc] %> desc?</label></div>
        <%= button_tag 'Search', class: 'btn btn-default' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= nav_li 'Edit Profile', edit_user_registration_path %>
            <li class="divider"></li>
            <%= nav_li 'Sign out', destroy_user_session_path, method: :delete %>
          </ul>
        </li>
        <% else %>
        <%= nav_li 'Sign in', new_user_session_path %>
        <%= nav_li 'Sign up', new_user_registration_path %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>